section {
    display: grid;
    justify-content: center;
    margin: 1%;
}

// section>div {
//     width: 50%;
// }

// section>div:nth-child(2)>img {
//     width: 300px;
//     height: auto;
// }



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    // section>div {
    //     width: 100%;
    //     display: flex;
    //     flex-direction: column-reverse;
    // }
  }