<div>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            
          </div>
          <mat-card-title>Shubham</mat-card-title>
          <mat-card-subtitle>C# & JavaScript developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://res.cloudinary.com/dmdp2lrr3/image/upload/v1705576465/ora1qsvoarbzyh3jguqx.jpg" alt="Photo of Shubham">
        <mat-card-content>
          <p>
            Having 3yrs of experience in .Net, and 2yrs in Angular, SQL
          </p>
          <p>Currently working at CGI on a food industry product called Aromi, serving millions of customers in Finland & Europe</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="openBottomSheet()">Contact details</button>
          <button mat-raised-button color="accent" routerLink="/work">My Work</button>
        </mat-card-actions>
      </mat-card>
</div>